::-webkit-input-placeholder {  font-weight: normal;    color: #aaa; }
:-moz-placeholder { /* Firefox 18- */     font-weight: normal;     color: #aaa; }
::-moz-placeholder {  /* Firefox 19+ */      font-weight: normal;     color: #aaa; }
:-ms-input-placeholder {     font-weight: normal;      color: #aaa; }

a:active, a:focus {
    outline: 0;
}

.page {
    background-color: #ededed;
}

.page.ui-mobile [data-role="page"], .page.ui-mobile [data-role="dialog"], .page.ui-page {
    /*max-width: 400px; */
    border-right: 0px solid #ccc;
}


#page-login{
    background: url(http://s3.amazonaws.com/assets.codiqa.com/GWQreLWmSByoFOWZW34R_welcome_image.jpg) center center;
}
#page-login .text_field {
    background: #eee;
}

#page-login .ui-body-c, .page-login .ui-overlay-c {
    background: none;
}


.ui-body-c .ui-link,
.ui-body-c .ui-link:hover,
.ui-body-c .ui-link:visited,
.ui-body-c .ui-link:active
{    color: #393939; font-weight: normal; }

.back-button {
    display: inline-block;
    height: 90px;
    width: 90px;
    background: url(http://static.sols.co/mobile/images/icons/back.png) 8px 8px no-repeat;
    background-size: 76px;
    background-position-y: 42px;
}
.skip-button {
    display: inline-block;
    height: 64px;
    width: 64px;
    background: url(http://dl.dropboxusercontent.com/u/10607473/www.sols.co/mobile_foot_images/arrow_icon_back.png) 8px 8px no-repeat;
    background-size: 32px;
}

.header-sec {
    /*display: inline-block;*/
    padding-left: 3%;
}
.header-sec p{
    margin: 0;
}
.header-sec p.title{
    font-weight: bold;
    margin: 5px 0 0;
}
.header-sec p.sub-title{
    font-size: 0.9em;
    font-weight: lighter;
    color: #696969;
    margin: 0;
}
span.step {
}
.header-sec .page-title {
    text-align: center;
    margin-left: 40px;
    line-height: 3em;
    font-weight: bold;
}


.ui-footer a { background: #78CBC5; }



.ui-input-text {     background: #fff; }

.form, .container, hr {     margin-left:5%; width: 90%;}

.form .ui-body-c {     border: 0; }

/* footer */
.footer_buttons {      background: #78CBC5; }

.ui-btn-up-a {     background-color: #78CBC5;     border: 0; }
.ui-btn-up-a.ui-btn-active {     background-color: #2CB1BE; border:0;  }
.footer_buttons .ui-btn-hover-a {      border: 0;      background-color: #2CB1BE; }
.ui-bar-a {     border: 0; }
.ui-btn-active {     border: 0; }

.ui-submit {     text-align: center;     margin-left: 1%;    width: 98%; }

.bg-purple {     background-color: #78CBC5; }

.bg-banner { }

/*.region-header {      background: #333;     color: #fff; }*/
.target_patient_name { text-transform:capitalize; }

.section-header { border-top: 2px solid #78CBC5;  height: 2.5em; margin: 0.5em 0;  line-height: 2.5em; font-weight: bold; }
.section-header-edit { text-decoration: underline !important; color: #666 !important; line-height: 2.5em; text-align: center; height: 100%; width: 40%; float: right; text-decoration: none; }
.section-header-label { color: #78CBC5; line-height: 2.5em; height: 100%; width: 60%; font-weight: bold; }

.float-right {    float: right; }

.center { text-align: center; }

.b {     font-weight: bold; }

.memo {     font-size: 0.8em; }

#patient-note {     min-height: 150px;  }

.monthly-sale-report-item {  padding: 3px 0; }

.monthly-sale-report-item span {     float: right; }

.footer_buttons {      display: none; }

/*.patient-info span {    color: red;}*/

.patient-pickup {    margin: 20px;     padding: 20px;     background: #fff; }
.patient-pickup.active {     background: #2CB1BE; border: 0; }


.ui-shadow { box-shadow: none;}
.ui-input-search { background-color: #fff;}
.ui-input-search.ui-btn-corner-all { border: 1px solid #999 !important;  }
.ui-btn-corner-all { border-radius: 0px; }
.ui-btn-up-d, .ui-btn-hover {     background: #78CBC5;     border: 0px solid #78CBC5; }
.ui-btn-hover-d {    border: 0;    background: #2CB1BE; }



#order_history {    display: none; }

.ui-header .ui-btn-up-d { }
.ui-btn-hover-d { }
.ui-btn-up-d.ui-btn-active {     background-color: #2CB1BE;     border: 1px solid #2CB1BE; }
.ui-btn-hover-d.ui-btn-active {     background-color: #2CB1BE;     border: 1px solid #2CB1BE; }

.ui-header .ui-title, .ui-footer .ui-title {    font-weight: normal; }

.ui-header {     background: none;     border: 0; }

.ui-br { /* bar under input section */     border-style: none; }

.ui-btn-up-c.ui-btn-active, .ui-btn-hover-c {     background:#78CBC5; }
.ui-btn-up-c.ui-btn-active .ui-btn-text, .ui-btn-hover-c .ui-btn-text {     color: #fff; }




input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 0px red;
}


div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text {
    padding: 0;
}
input {
    height: 2em;
}
input.ui-input-text, textarea.ui-input-text {
    font-size: 1em;
}
.ui-submit .ui-btn-inner {
    font-size: 1.5em;
}
.ui-btn-inner {
    font-size: 1em;
}

.half {
    float: left; width:50%;
}

.one-third {
    float: left;
    width: 33%;
}
.two-third {
    float: left;
    width: 66%;
}

.circle {
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    border-radius:50%;
    display: inline-block;
    text-align: center;
    line-height: 1;
    width: 90%;
    margin-left: 5%;
}
.circle span {
    display: block;
    /*padding: 50%;*/
    /*margin: -3em -60% 0;*/
    /*top: 1.5em;*/
    position: relative;
    border: 1em solid transparent;
    white-space: nowrap;
    font-size: 3em;
    color: white;
}
.circle span img {
    position: absolute;
    margin-left: -25px;
}

.half .label {
    display: block;
    margin-top: 1em;
}


.circle_main_color {
    background: #78CBC5;
}

.half a {
    text-decoration: none;
}
.ui-body-c .ui-link.big-text span.link{
    /*font-size: 2.5em; color: #fff; display: block;*/
}


.half .circle span.label{
    color: #000; font-size: 0.8em; margin: 0; display: block;
}

.ui-field-contain { width: 98%; margin-left: 1%; }


#form_login { width: 50%; margin: 0 auto; }
#form_login .ui-submit {  }
#form_login .ui-field-contain input.ui-input-text,
#form_login .ui-field-contain div.ui-input-text {
    width: 100%;
    text-align: center;
}
.ui-field-contain label {   width: 50%; float: left; margin: 0; color: #666;}
.ui-field-contain label.ui-input-text, .ui-field-contain label.ui-select {
    float: left;
    font-size: 1em;
    /*line-height: 2em;*/
    padding-top: 5px;
    margin: 0 0 0 3%;
    width: 45%;

}
.ui-field-contain input.ui-input-text, .ui-field-contain div.ui-input-text, .ui-field-contain .ui-select {
    border: 0;
    float: right;
    width: 40%;
}
.ui-field-contain textarea.ui-input-text { border: 0; width: 100%; }

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    margin: 0.5em 1%;
}
form .ui-field-contain{
    background: #fff;
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 4px;
}
.ui-shadow-inset {
    box-shadow: 0 0 0 rgba(0, 0, 0, 00) inset;
}

.ui-select .ui-btn {
    border: 0;
}

.light-grey {
    background: #e7e7e7;
}
.grey {
    background: #cecece;
}

.odd {
    color: #393939;
}
.even {
    color: #393939;

    /*color: #e7e7e7;*/
}
#monthly-report-list .even {
    color: #999;
}

hr {
    margin: 0;
    width: 100%;
    border: 1px solid #cecece;
}

.btn-circle {
    padding-top: 10px;
    display: block;
    height: 50px;
    background-size: 36px 36px;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2em;
}
.btn-row-container .label {
    padding-top: 15px;
}


.home-icon-image {
    display: block;
    height: 55px;
    margin: 0 auto 7px;
    text-align: center;
    width: 55px;
}

.odd, .even {
    margin-top: 10px;
}
.patient-info b {
    float: right;
    font-weight: normal;
}
.patient-info label {
    color: #666;
    width: 60%;
    text-transform: capitalize;
    display: inline-block;
}

.patient_row {
    text-transform: uppercase;

    margin-bottom: 1px;
    padding-left: 3%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background: #fff;
}
.patient_list_abbr {
    margin-top: 3px;
    margin-bottom: 1px;

    background: #fff;
    padding-left: 3%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    /*text-align: center;*/
    font-weight: bold;
    text-transform: capitalize;
}

.search-sec.ui-field-contain {     margin: 0 auto;     padding: 3px 0; width: 94%; }
.search-sec .ui-body-c, .ui-overlay-c {     /* border: 0; */ }
.search-sec .ui-shadow-inset {     box-shadow: 0 0 0; }

.next_arrow {
    display: inline-block;
    width: 20px;
    float: right;
    margin-right: 3%;
    height: 20px;
    background-image: url(http://static.sols.co/mobile/images/icons/arrow-right-blue.png);
    background-size: 20px 20px;;
}

#open-order .count {
    font-size: 2.5em;
    margin-right: 0.5em;
}
#open-order .label {
    font-weight: bold;
    padding-top: 15px;
}

.ui-btn-icon-top .ui-btn-inner .ui-icon, .ui-btn-icon-bottom .ui-btn-inner .ui-icon {
    margin-left: -27px;
}
.ui-icon.ui-icon-home.ui-icon-shadow {
    width: 110px;
    height: 30px;
    background-position: 0;
    background-image: url(http://dl.dropboxusercontent.com/u/10607473/www.sols.co/mobile_foot_images/footer_icon_home.png);
    background-size: 55px;
}
.ui-icon.ui-icon-plus.ui-icon-shadow {
    width: 110px;
    height: 30px;
    background-position: 0;
    background-image: url(http://dl.dropboxusercontent.com/u/10607473/www.sols.co/mobile_foot_images/footer_icon_addpatients.png);
    background-size: 55px;
}
.ui-icon.ui-icon-info.ui-icon-shadow {
    width: 110px;
    height: 30px;
    background-position: 0;
    background-image: url(http://dl.dropboxusercontent.com/u/10607473/www.sols.co/mobile_foot_images/footer_icon_users.png);
    background-size: 55px;
}
.ui-icon.ui-icon-grid.ui-icon-shadow {
    width: 110px;
    height: 30px;
    background-position: 0;
    background-image: url(http://dl.dropboxusercontent.com/u/10607473/www.sols.co/mobile_foot_images/footer_icon_pickups.png);
    background-size: 55px;
}


#total-sold .count {
    font-size: 2.5em;
    /*margin-right: 0.5em;*/
}
#total-sold .label {
    font-weight: bold;
    padding-top: 15px;
}

.link.pick-up-count {
    /*font-size: 3em;*/
    /*display: inline-block;*/
}
.link.production-count {
    /*font-size: 3em;*/
    /*padding-top: 0.75em;*/
    /*display: inline-block;*/
}

#searchinput3 {
    float: none;
    width: 80%;
}


#logged-in {
    display: none;
}
#logged-in a.ui-link,
#logged-in a.ui-link:active,
#logged-in a.ui-link:visited {
    background: #78CBC5;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    font-size: 2em;
    font-weight: bold;
}

#birth-date-input-group {
    margin-left: 1%;
    width: 98%;
    overflow: auto;
}
#birth-date-input-group .ui-select {
    width: 33.3%;
    float: left;
}

.version {
    margin-top: 1em;
    text-align: center;
    color: #777;
}


.color-light {
    color: #78CBC5;
}
.color-strong {
    color: #2CB1BE;
}

.white {
    background-color: #fff;
}

#order_color_container .ui-select {
    width: 100%;
}

a[href="#page-home"] {
    text-decoration: none;
}

#page-patient-form-scan-foot .ui-btn-up-d, #page-patient-form-scan-foot .ui-btn-hover-d:hover{
    width: 95%;
}