::-webkit-input-placeholder {
    font-weight: normal;
    color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
    font-weight: normal;
    color: #aaa;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-weight: normal;
    color: #aaa;
}
:-ms-input-placeholder {
    font-weight: normal;
    color: #aaa;
}

body {
    background: #fff;
}

.ui-footer a {
    background: #000;
}

.ui-body-c, .ui-overlay-c {
    background: #f6f6f6;
}

label.ui-input-text {
    background: #f6f6f6;
}
.ui-input-text {
    background: #fff;
}

.form, .container, hr {
    margin-left: 5%;
    width: 90%;
}


.form .ui-body-c {
    border: 0;
}



.ui-btn-up-a {
    background-color: #443E7C;
}
.ui-btn-up-a.ui-btn-active {
    background-color: #888;
}


.ui-submit {
    text-align: center;
}

.ui-btn-up-d, .ui-btn-hover {
    background: #443E7C;
    border: 1px solid #443E7C;
}

.bg-purple {
    background-color: #443E7C;
}

.bg-banner {

}

.search-sec {
    margin: 0;
    background-color: #fff;
    padding: 5px 15px;
}
.search-sec .ui-body-c, .ui-overlay-c {
    border: 0;
    background-color: #fff;
}
.search-sec .ui-shadow-inset {
    box-shadow: 0 0 0;
}

.region-header {
    background: #333;
    color: #fff;
}

.section-header {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px 0;
}

.float-right {    float: right; }

.center { text-align: center; }

.b {
    font-weight: bold;
}

.memo {
    font-size: 0.8em;
}


#patient-note {
    min-height: 150px;
}


.search-result div {
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}

.monthly-sale-report-item {
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}

.monthly-sale-report-item span {
    float: right;
}



.ui-header .ui-btn-up-d {

}
.ui-btn-hover-d {
    /*   background-color: #129224; */
}
.ui-btn-up-d.ui-btn-active {

}


.ui-header .ui-title, .ui-footer .ui-title {
    font-weight: normal;
}

.ui-header {
    border-color: #443E7C;
    background: #443E7C;
    color: #000;
}

.ui-br { /* bar under input section */
    border-style: none;
}


.ui-btn-up-c.ui-btn-active, .ui-btn-hover-c {
    background:#443E7C;
}
.ui-btn-up-c.ui-btn-active .ui-btn-text, .ui-btn-hover-c .ui-btn-text {
    color: #fff;
}

.footer_buttons {
//  display: none;
}
