<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.phonegap.example" versionCode = "10" version = "1.0.0">
	<gap:platform name="android" />
	<gap:platform name="ios" />
	<gap:platform name="winphone" />
    <!-- versionCode is optional and Android only -->
	<!-- orientation: dafault(both),landscape, portrait -->
	<!--<preference name="orienation" value="landscape" />-->
    <name>PhoneGap Picture Creation</name>

    <description> Testing basic phonegap capabilities. </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Jay Hu
    </author>
	
	<preference name="permissions" value="none"/>
	<!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 <!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->
    
	<!--<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/winphone/icon.png" gap:platform="winphone" />
	<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />-->
</widget>